.floral-image {
    width: 500px;
}
.fresh {
    width: 350px;
}
.fruity {
    width: 200px;
}
.musky {
    width: 300px;
}
.alert {
    margin: 0;
    padding: 2px;
}
.main-color {
    color: #f3bea2;
}
